.sudoku_table{
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-right: 2px solid #666699;
	border-bottom: 2px solid #666699;
}

.separate_row {
	border-top: 2px solid #666699;	
}

.separate_column {
	border-left: 2px solid #666699;
}

table, td {
	padding: 0;
}

td{
	color: #222222;
	font-family: arial, sans-serif;
	font-size: 9pt;
	border: 1px solid #DDDDFF;
    border-radius: 10px;
    background-color: #f5f5dc;
    position: static;
}

table.number_table td{
    width:120px;
    height: 120px;
}

.mousedown_td{
    background-color: #deb887;
}

#puzzle_canvas{
    background-color: #f5f5dc;
}

input {
	/*background-color: transparent;*/
	/*color: #7777DD;*/
	/*font-family: "lucida handwriting", "comic sans ms", cursive;*/
	/*font-size: 24px;*/
	
	/*border: 0 solid #FFFFFF;*/
	/*margin: 0;*/
	/*text-align: center;*/
	/*width: 48px;*/
	/*height: 48px;*/
}

.generated {
	size: 5;
	color: #000000;
	font-family: times, "times new roman", serif;
}

td div{
    width: 110px;
    height: 100px;
}

.number_1 {
    background: url("../images/colorful_numbers.png") no-repeat 18px 3px;
}

.number_2 {
    background: url("../images/colorful_numbers.png") no-repeat -82px 3px;
}
.number_3 {
    background: url("../images/colorful_numbers.png") no-repeat -182px 3px;
}
.number_4 {
    background: url("../images/colorful_numbers.png") no-repeat 18px -112px;
}
.number_5 {
    background: url("../images/colorful_numbers.png") no-repeat -82px -112px;
}
.number_6 {
    background: url("../images/colorful_numbers.png") no-repeat -182px -112px;
}
.number_7 {
    background: url("../images/colorful_numbers.png") no-repeat 18px -222px;
}
.number_8 {
    background: url("../images/colorful_numbers.png") no-repeat -86px -226px;
}
.number_9 {
    background: url("../images/colorful_numbers.png") no-repeat -190px -225px;
}