html
 head
  title   Sudoku
  link(rel='stylesheet', type='text/css', href='css/sudoku.css', media='screen')
  script
   var cheatsheet = '#{cheatsheet}'
   var puzzle = '#{puzzle}'
  script(type='text/javascript', src='lib/jquery-1.6.1.js')
  script(type='text/javascript', src='lib/cake.js')
  script(type='text/javascript', src='client/cell.js')
  script(type='text/javascript', src='client/game.js')
  script(type='text/javascript', src='client/client.js')
  script(type='text/javascript', src='client/sudoku.js')
  script(type='text/javascript', src='lib/socket.io.js')
 body
  section#connection_section
   label(for='nick') Name:
   input#nickInput(type='text', name='nick')
   input#connectBtn(type='button', value='Join')
  section#chat_room_section(style='display:none')
   p#name_p
   label(for='messageInput') Message:
   input#messageInput(type='text', name='message')
   input#messageBtn(type='button', value="Send")
   input#disconnectBtn(type='button', value='Disconnect')
   section
    textarea#chat_room(rows='10', cols='50')
    select#player_list(multiple='false', width="20", height="40")
    input#joinBtn(type='button', value='Join')
  section
   canvas#puzzle_canvas(width='450', height='450')

  table#number_table(border='1px')
   tr
    td
     div.number_1
    td
     div.number_2
    td
     div.number_3
    td
     div.number_4
    td
     div.number_5
    td
     div.number_6
    td
     div.number_7
    td
     div.number_8
    td
     div.number_9