html
 head
  title   Sudoku
  link(rel='stylesheet', type='text/css', href='sudoku.css', media='screen')
  script
   var cheatsheet = '#{cheatsheet}'
   var puzzle = '#{puzzle}'
  script(type='text/javascript', src='jquery-1.6.1.js')
  script(type='text/javascript', src='cake.js')
  script(type='text/javascript', src='sudoku.js')
 body
  section
   canvas#puzzle_canvas(width='450', height='450')

  table#number_table(border='1px')
   tr
    td
     div.number_1
    td
     div.number_2
    td
     div.number_3
    td
     div.number_4
    td
     div.number_5
    td
     div.number_6
    td
     div.number_7
    td
     div.number_8
    td
     div.number_9